footer{
    background-color: rgb(207, 204, 204);
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.jumbotron{
    background-color: rgb(207, 204, 204);
    color: black;
    margin-top: 50px;
}

.card-instrumento{
    flex: 1 200px;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.img-centro {
    margin: 10px auto 10px;
    display: block;
}

.tab-content{
    padding-top: 10px;
}