footer {
  background-color: #fffa19;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-instrumento {
  flex: 1 200px;
  /*margin-right: 10px;*/
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-centro {
  margin: 10px auto 10px;
  display: block;
}
.tab-content {
  padding-top: 10px;
}
